# --- Sensitive Information ---
.env
secrets/

# --- Python ---
**/__pycache__/
*.py[cod]
.venv/
env/

# --- Windows System Files ---
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- IDE & Workspace ---
.vscode/
*.code-workspace
to_do.txt